@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    padding: 0;
    margin: 0;
    background-color: #1F538D;
}
.navbar{
    font-family: 'Alata', sans-serif;
    background-color: #1F538D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    transition: 1.1s ease;
}
.navbar ul li .active{
    background-color: white;
    color: black;
    transition: 1.1s ease;
}
h3{
    color: white;
    font-size: 30px;
}
.banner .background{
    background-image: url(photon.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/* .background img
{
    display: block;
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 13%;
} */
.content{
    text-align: justify;
    padding: 10px 30px;
}
.foot{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    /* background-color: black; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}
.foot .leftitems p
{
    font-family: 'Alata', sans-serif;

}
.foot .rightitems p
{
    align-items: center;
    font-family: 'Alata', sans-serif;
    font-size: 12px;
}
.foot .rightitems span
{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}
.list
{
    padding: 100px;
    color: white;
    font-family: 'Alata', sans-serif;
    
}
.list .firstlist p, .list .secondlist p, .list .thirdlist p
{
    font-size: 20px;
    padding-bottom: 10px;
}
.list .firstlist, .list .secondlist, .list .thirdlist
{
    padding: 20px;
}
.list .firstlist a, .list .secondlist a, .list .thirdlist a
{
    text-decoration: none;
    color: white;

}
.burger{
    position: absolute;
    top: 10px;
    right: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 21px;
}
.burger .line{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media only screen and (max-width: 570px){
    .navbar .navlinks{
        flex-direction: column;
        width: 100%;
        display: none;
    }
    .navbar{
        flex-direction: column;
    }
    .burger{
        display: flex;
    }
    .navbar .navlinks li a{
        text-align: center;
    }
    .navlinks.active{
        display: flex;
    }
/*     .background img
    {
        display: none;
        top: 64%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 40%;
    } */
}
